{% extends 'dummy.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block body_block %}
<style>
    body{
        background-color: cyan;
        background-image: url('https://images.hdqwalls.com/wallpapers/running-horse-in-water-qu.jpg');
    }
    
</style>


    <center>
        <h1>Registration Form</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{udata.as_table}}
                {{pdata.as_table}}
            </table><br><br>
            <input type="submit" value="Register">
        </form>
    </center>
{% endblock %}